/*MAIN WRAPPER*/
.container-xxl[data-container=main] {
	display: none;
	width: 100%;
	position: relative;
	font-family: 'Nunito', sans-serif;
	margin: 0 auto;
}

.container-xxl[data-container=main]>div {
	text-align: left;
}

.job-list-active {
	display: block !important;
}

/*JOB SEARCH CSS*/
.input-group.mb-3 {
	display: flex;
	width: 100%;
	background-color: white;
	flex-wrap: nowrap !important;
	box-sizing: border-box;
	align-items: center;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	position: relative;
	border-radius: 0.375rem;
	align-items: stretch
}

#searchKeyword {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	font-size: 18px;
	border: 0px !important;
	margin: 0px !important;
	background-color: transparent !important;
}

input#searchKeyword:focus {
	outline: none;
}

.btn.btn-light {
	font-size: 25px;
	color: #2C2ED0;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	width: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-xl[data-button=reset] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: #2C2ED0;
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -20px;
	cursor: pointer;
	font-size: 25px;
}

/*JOB LIST CSS*/

.job-countWrapper {
	display: block;
	width: 50%;
}

.job-filter-wrapper {
	display: flex;
	font-size: 16px;
	text-align: right;
	font-weight: 400;
	color: #2C2ED0;
	cursor: pointer;
}

.jobs-filter-wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 10px 0;
	box-sizing: border-box;
}

.clear-filter {
	margin-right: 20px;
}

.inner-job-fil {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: white;
}

.job-fil-wrap {
	display: block;
	width: 19.5%;
	position: relative;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	margin: 3px;
	margin-top: 5px;
}

.job-fil-wrap[data-filter=sort] {
	display: flex;
}

.job-fil-wrap:not([data-filter=category]) {
	align-items: center;
}

.job-fil-wrap select,
.job-category {
	width: 100%;
	font-size: 16px;
	padding: 15px;
	box-sizing: border-box !important;
	border: 0 !important;
	background-color: transparent !important;
	color: #000000;
	cursor: pointer;
}

.job-category {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.job-category i {
	font-size: 13.5px !important;
	font-weight: bold;
	color: #333333 !important;
}

#jobcatname {
	position: absolute;
	opacity: 0;
	max-width: 100%;
	background-color: #ffffff !important;
	border: 1px solid #cccccc !important;
	left: 0;
	height: 250px;
	top: 100%;
}

#jobcatname.job-category-active {
	opacity: 1;
	z-index: 1;
}

.job-fil-wrap option {
	font-size: 14px;
	padding: 2px;
	box-sizing: border-box
}

.job-fil-wrap select:focus {
	outline: none;
}

.job-list-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	position: relative;
	height: auto;
	margin-top: 10px;
}

.job-wrap {
	display: block;
	width: 32.5%;
	position: relative;
	padding: 20px 0;
	box-sizing: border-box;
}

.inner-job-wrap {
	display: block;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	position: relative;
	padding: 25px 15px;
	box-sizing: border-box;
	background-color: white;
	border-top: 5px solid transparent;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	min-height: 290px;
	max-height: 290px;
	text-decoration: none;
	transition: all .35s ease;
}

.inner-job-wrap:hover {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}

.featJob {
	border-color: #333333;
}

.jobHeadInfo {
	display: flex;
	align-items: center;
	position: relative;
}

.jobMainInfo {
	width: 100%;
	display: block;
	position: relative;
}

.jobTitle {
	display: block;
	width: 100%;
	font-weight: 700;
	color: black;
	font-size: 18px;
}

.jobPostingLoc {
	display: block;
	width: 100%;
	font-weight: 400;
	color: #2C2ED0;
	font-size: 16px;
	margin-top: 8px;
}

.jobLocWrap {
	display: block;
	width: 100%;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

.jobDetailsWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	font-size: 15px;
	color: black;
}

.jobDetailsWrap>div {
	max-width: 32%;
	width: fit-content;
}

.jobDescWrap {
	display: block;
	width: 100%;
	margin: 10px auto 0px auto;
	font-size: 14px;
	line-height: 1.4;
	color: black;
	display: -webkit-box !important;
	-webkit-line-clamp: 3 !important;
	-webkit-box-orient: vertical !important;
	text-align: left;
	overflow: hidden;
}

.job-posted-date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
	text-transform: capitalize;

}

.job-date {
	padding: 5px 15px;
	box-sizing: border-box;
	display: block;
	border: 1px solid #F6F4FB;
	color: #000000;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 14px;
	border-radius: 3px
}

/*LAYOUT 2 CSS*/
.job-wrap2 {
	width: 100%;
	position: relative;
	padding: 20px 10px;
	box-sizing: border-box;
	text-decoration: none !important;
}

.inner-job-wrap2 {
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	position: relative;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	border-top: 5px solid transparent;
	flex-wrap: wrap;
}

.featuredJob .inner-job-wrap2 {
	border-color: #2C2ED0;
}

.featWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	position: absolute;
	transform: translate(50%, -50%);
	top: 0;
	right: 50%;
	background-color: #2C2ED0;
	color: white;
	font-size: 14px;
	border-radius: 5px;
}

.jobWrap2Col1 {
	display: block;
	width: 70%;
	position: relative;
	padding-right: 15px;
	box-sizing: border-box;
	border-right: 1px solid rgba(0, 0, 0, 0.1)
}

.jobWrap2Col1 .jobTitle {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.jobWrap2Col1 .jobPostingLoc {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

.jobDescription {
	display: -webkit-box !important;
	-webkit-line-clamp: 3 !important;
	-webkit-box-orient: vertical !important;
	text-align: left;
	max-height: 70px;
	overflow: hidden;
	color: black;
}

.jobWrap2Col2 {
	display: block;
	flex-direction: column;
	width: 30%;
	position: relative;
	padding-left: 20px;
	box-sizing: border-box;
	justify-content: space-between;
}

.jobInfo {
	display: flex;
	width: 100%;
	font-size: 14px;
	padding-bottom: 5px;
	box-sizing: border-box;
}

.jobInfoLabel {
	display: block;
	color: #2C2ED0;
	margin-right: 5px;
}

.jobInfoVal {
	font-weight: bold;
	color: black;
}

.jobListLayout2 .job-posted-date {
	margin-top: 20px;
}

/*DEFAULT CSS*/
::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Nunito', sans-serif;
}

::-moz-placeholder {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Nunito', sans-serif;
}

:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Nunito', sans-serif;
}

:-moz-placeholder {
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Nunito', sans-serif;
}

.job-count-container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	position: relative;
	padding: 10px 0;
	box-sizing: border-box;
	margin-top: 20px;
	font-weight: 700;
	font-size: 25px;
}

/* PAGINATION */
.job-list-wrap-page .paginationjs {
	display: flex;
}

/* ? SCROLL BAR START */
#jobcatname::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #cccccc;
}

#jobcatname::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 5px;
}

#jobcatname::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #333333;
}



/* ? SCROLL BAR END */


@media screen and (max-width:800px) {
	.job-fil-wrap {
		width: 100%;
		border-bottom: 1px solid #ccc;
		border-right: 0
	}

	.job-wrap,
	#jobcatname {
		width: 100%;
		max-width: 100%;
		top: 0
	}

	#jobcatname {
		max-width: 100%;
		width: 100%;
		opacity: 1;
		pointer-events: auto;
		position: relative;
		border: 0 !important;
		left: 0px;
		height: auto;
	}

	.job-category {
		display: none;
	}

	.btn.btn-light {
		width: 20%;
	}
}

/* ? SCROLL BAR START */
::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: transparent;
}

/* ? SCROLL BAR END */