<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../Funneling/src/css/style.css">
</head>

<body>

	<div class="widget-abc123">
		<div class="funnel-Main-Container">

			<div class="funnel-Container-Section">
				<div class="funnel-Section-Stage">
					<div class="funnel-Stage-Container">
						<!-- STAGE NUMBERS -->
					</div>
				</div>
			</div>
			<div class="funnel-Container-Panel">
				<div class="funnel-Container-Section ">
					<div class="funnel-Section-Title">Lorem ipsum dolor sit amet</div>
				</div>
				<div class="funnel-Container-Section funnel-Container-Slide">
					<!-- SLIDES -->
				</div>
			</div>
			<div class="funnel-Container-Section">
				<div class="funnel-Section-Footer">
					<div class="funnel-Footer-Prev">
						<i class="fa-solid fa-angle-left"></i>
						<span>BACK</span>
					</div>
					<div class="funnel-Footer-Next">
						<span>NEXT</span>
						<i class="fa-solid fa-angle-right"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async defer></script>
	<script src="../Funneling/src/js/script.js" async defer></script>
</body>

</html>