<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Funneling</title>
	<link rel="stylesheet" href="../src/css/style.css">
</head>

<body>

	<div class="widget-abc123">
		<div class="funnel-Main-Container">

			<div class="funnel-Container-Section">
				<div class="funnel-Section-Stage">
					<div class="funnel-Stage-Container">
						<!-- STAGE NUMBERS -->
					</div>
				</div>
			</div>
			<div class="funnel-Container-Panel">
				<div class="funnel-Container-Section ">
					<div class="funnel-Section-Title">Investigative Services</div>
				</div>
				<div class="funnel-Container-Section funnel-Container-Slide">
					<!-- SLIDES -->
				</div>
			</div>
			<div class="funnel-Container-Section">
				<div class="funnel-Section-Footer">
					<div class="funnel-Footer-Prev funnel-Footer-Prev-Inactive">
						<i class="fa-solid fa-angle-left"></i>
						<span class="text">BACK</span>
					</div>
					<div class="funnel-Footer-Next funnel-Footer-Next-Inactive"
						data-prod="price_1LnYG4IPD6zQleLGlxtQ0eAR">
						<span class="text">NEXT</span>
						<i class="fa-solid fa-angle-right"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" async defer></script>
	<script src="../src/js/script.js" async defer></script>
</body>

</html>